<section id="about">
    <div id="about-box" class="white grey-text text-darken-4">
        <div class="container">
            <div class="row">
                <div class="col s12 m12 l4 center">
                    <img id="about-pic" src="{{ site.url}}/assets/img/me.jpg" class="img-fit circle">
                </div>
                <div class="col s12 m12 l8">
                    <h5 class="center">
                        درباره من
                    </h5>
                    <p>
                        <i class="fa fa-user"></i> &nbsp; عارف فلاح
                        <br><i class="fa fa-code"></i> &nbsp; توسعه دهنده پایتون/ جنگو
                        <br><i class="fa fa-html5"></i> &nbsp; طراح و توسعه دهنده وب (Full stack)
                        <br><i class="fa fa-linux"></i> &nbsp; لینوکس ادمین
                        </p><p>
                        <span class="center-align ltr">
                            <i class="fa fa-phone"></i>&nbsp;<i class="fa fa-whatsapp"></i>&nbsp;<i class="fa fa-telegram"></i> &nbsp; +98 936 848 9724
                            <br><i class="fa fa-envelope-o"></i> &nbsp; Aref.Fallah@gmail.com
                        </span>
                    </p>                    

                </div>

            </div>

            <div class="clearfix"></div>
            <div class="row">
                <div class="col s12">
                    <div class="">
                        {% include social_icons_bar_grey.html %}
                    </div>
                </div>
            </div>
            <br>
            <span>
                <a href="{{ site.url }}/about/" class="btn btn-large grey darken-3 grey-text text-lighten-4 waves-effect waves-light">بیشتر ...</a>
            </span>
        </div>
    </div>
</section>
