<header id="top">
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center white-text">{{ site.title }}</h1>
        <div class="row center">
          <h5 class="header col s12 light">{{ site.description }}</h5>
        </div>
        <div class="row center hide-on-med-and-down">
          <a href="">
            <div class="col s6 m6 l3 xl3 center">
            <i class="fa fa-file-text fa-4x"></i><br><h2><h5>
            لورم ایپسوم</h5>Blog
            </div>
          </a>
          <a href="">
            <div class="col s6 m6 l3 xl3 center">
              <i class="fa fa-code fa-4x"></i><br><h2><h5>
              لورم ایپسوم</h5>Programming
            </div>
          </a>
          <a href="">
            <div class="col s6 m6 l3 xl3 center">
              <i class="fa fa-tree fa-4x"></i><br><h2><h5>
              لورم ایپسوم</h5>Travel Gallery
            </div>
          </a>
          <a href="">
            <div class="col s6 m6 l3 xl3 center">
              <i class="fa fa-check-square-o  fa-4x"></i><br><h2><h5>
              لورم ایپسوم</h5>portfolio
            </div>
          </a>
        </div>
        <br><br>
        
        <a href="#" class="next-section-btn btn-large waves-effect waves-light pulse pink darken-3"><i class="fa fa-angle-double-down"></i></a>

      </div>
    </div>
    <div class="parallax"><img src="assets/img/top-parallax.jpg" alt="Unsplashed background img 1"></div>
  </div>

</header>