<header id="top">
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center white-text">{{ site.title }}</h1>
        <div class="row center">
          <h4 class="header col s12 light">{{ site.description }}</h4>
        </div>

        <div id="header-top-icons" class="row center hide-on-small-only">
          <a href="{{ site.url }}/blog">
            <div class="col s12 m4 l4 xl4 center">
            <i class="fa fa-file-text fa-4x"></i><br><h2><h5>
            وبلاگ</h5>Blog
            </div>
          </a>
          <a href="{{ site.url }}/courses">
            <div class="col s12 m4 l4 xl4 center">
              <i class="fa fa-book fa-4x"></i><br><h2><h5>
              درس ها</h5>Courses
            </div>
          </a>
          <a href="{{ site.url }}/portfolio">
            <div class="col s12 m4 l4 xl4 center">
              <i class="fa fa-check-square-o  fa-4x"></i><br><h2><h5>
              نمونه کار</h5>Portfolio
            </div>
          </a>
        </div>
        <br><br>
        
        <a href="#about" class="next-section-btn btn-large waves-effect waves-light pulse white grey-text text-darken-3"><i class="fa fa-angle-double-down"></i></a>

      </div>
    </div>
    <div class="parallax"><img src="assets/img/top-parallax.jpg" alt="Top intro background"></div>
  </div>

</header>
