{% if site.portfolio %}
<section id="portfolio">

    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h4>
                            <i class="fa fa-suitcase"></i>&nbsp;
                            نمونه کار
                    </h4>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="{{ site.url }}/assets/img/portfolio-bg.jpg" alt="آخرین مقاله ها"></div>
    </div>

    <div class="container">
        <div class="row">

            {% assign portfolio = site.portfolio | reverse %}
            {% for portfo in portfolio | limit:4 %}
                <div class="col s12 m12 l6">
                    <a href="{{ portfo.url }}" class="grey-text text-darken-4">
                        <article id="{{ portfo.title }}" class="card intro-portfolio-card">
                            {% if portfo.thumbnail %}
                            <picture>
                                <img src="{{ site.url }}/{{ portfo.thumbnail }}" alt="{{ portfo.title }}" class="img-fit">
                            </picture>
                            {% endif %}
                            <span class="card-title">{{ portfo.title }}</span>

                            <div class="card-content"><p>{{ portfo.excerpt }}</p></div>
                            
                            <div class="clearfix"></div>
                        </article>
                    </a>
                </div>
            {% endfor %}

            <div id="" class="col s12 center link-to-collections">
                <a href="{{ site.url }}/portfolio" class="btn btn-large red darken-4 red-text text-lighten-4 waves-effect"><i class="fa fa-suitcase"></i>&nbsp;      رفتن به صفحه نمونه کارها      </a>
            </div>

        </div>
    </div>
</section>
{% endif %}
