@import "./rouge_theme_native.css";

 @viewport{
  zoom: 1.0;
  width: device-width;
}
  
@font-face {
  font-family: 'byekan';
  src: url('../fonts/YekanWeb-Regular.woff');
}

*{
  outline: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body{
  direction: rtl;
  font-family: 'byekan','ubuntu', Tahoma, 'Segoe UI', Verdana, sans-serif;
  background-color: rgb(250, 250, 250);
  transition: .5s;
  overflow-x: hidden;
  font-size: 1rem !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  line-height: 2;
}

pre{
  direction: ltr !important;
  text-align: left;
  padding: .5rem .5rem;
  color: #eee;
  overflow-x: auto;
}

.navbar-fixed{
  position: absolute !important;
  top: 0;
  right: 0;
  left: 0;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.img-fit {
  object-fit: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.ltr {
  direction: ltr !important;
}

.rtl {
  direction: rtl !important;
}

.align-justify{
  text-align: justify !important;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  height: auto;
  color: rgba(255,255,255,.9);
}

#index-banner{
  height: 100vh !important;
}

.parallax-container h5{
  line-height: 3rem;
  font-size: 1.2rem;

}

.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width : 992px) {
  #index-banner .section {
    top: 10%;
  }
  #about-pic{
    width: 50%;
    height: 50%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
  .next-section-btn{
    right: 44% !important;
  }  
}

.material-icons.md-2 { font-size: 2rem; }
.material-icons.md-3 { font-size: 3rem; }
.material-icons.md-4 { font-size: 4rem; }
.material-icons.md-5 { font-size: 5rem; }

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

#top a{
  color: #fff;
  transition: .5s;
}

#top a:hover{
  color: yellow;
  transition: .5s;
}

.next-section-btn{
  position: absolute;
  bottom: -2px;
  right: 48%;
}

.section-head-1{
  border-bottom-left-radius: .7rem;
  border-bottom-right-radius: .7rem;
  padding: 4rem 0 !important;
}

#about-box{
  padding: 7rem 1rem 8rem;
}

#about-box p{
  text-align: justify;
}

#about-box span{
  display: block;
  margin: auto;
  text-align: center !important;
}

.link-to-collections a{
  margin: 5rem 0;
}

#header-top-icons{
  margin-top: 5%;
}

.intro-article-card{
  padding: 1rem 0;
  margin: 4rem 0 0;
  border-top-left-radius: .7rem;
  border-top-right-radius: .7rem;
}

.intro-article-card img{
  margin-top: .8rem;
}

.intro-article-card .card-title{
  padding: 1rem;
}

.intro-article-card .card-content p{
  text-align: justify;
}

.intro-portfolio-card{
  margin: 4rem 0 0;
  border-top-left-radius: .7rem;
  border-top-right-radius: .7rem;
}

.intro-portfolio-card .card-title{
  padding: 1rem;
}

.intro-portfolio-card img{
  border-top-left-radius: .7rem;
  border-top-right-radius: .7rem;
}

.under-navbar{
  margin: 5rem 0 0;
}

.post{
  padding: .5rem 1rem;
}

.post h1{
  font-size: 2rem !important;
}

#breadcrumbs{
  direction: ltr !important;
}

#breadcrumbs a:hover{
  text-decoration: underline;
}

.post img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#nav-mobile a{
  display: block;
  width: 100%;
  height: 100%;
  transition: .3s;
  overflow: hidden;
}

#nav-mobile a:hover{
  color: rgb(160, 0, 0) !important;
  transition: .3s;
}

.nav-wrapper a{
  text-align: right !important;
  float: right !important;
}

.btn-floating.halfway-fab {
  right: 0rem !important;
}

#blog-index .card{
  margin: .5rem 0 2rem;
}

#blog-index .card-title{
  padding: 1rem 1rem 0;
}

#blog-index .card-content p{
  text-align: justify
}

#blog-index img{
  border-radius: .5rem;
}

#blog-index .post-more-btn{
  position: absolute;
  bottom: 1rem;
  left: 0px;
}

#blog-index .btn{
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

#blog-index h1{
  font-size: 2rem;
}

#blog-index header{
  padding: 1rem 0;
  margin: .5rem 0 1rem;
}