 @viewport{
  zoom: 1.0;
  width: device-width;
}
  
@font-face {
  font-family: 'byekan';
  src: url('../fonts/YekanWeb-Regular.woff');
}

body{
  direction: rtl;
  font-family: 'byekan','ubuntu', Tahoma, 'Segoe UI', Verdana, sans-serif;
  background-color: rgb(250, 250, 250);
  transition: .5s;
  overflow-x: hidden;
  font-size: 1rem !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  line-height: 2;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.img-fit {
  object-fit: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.ltr {
  direction: ltr !important;
}

.rtl {
  direction: rtl !important;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  height: auto;
  color: rgba(255,255,255,.9);
}

#index-banner{
  height: 100vh !important;
}

.parallax-container h5{
  line-height: 3rem;
  font-size: 1.2rem;

}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
  .next-section-btn{
    right: 44% !important;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

#top a{
  color: #fff;
  transition: .5s;
}

#top a:hover{
  color: yellow;
  transition: .5s;
}

.next-section-btn{
  position: absolute;
  bottom: -2px;
  right: 48%;
}