---
layout: default
---
<section id="blog-index" class="under-navbar index-page">
    <div class="container">

        {% include breadcrumbs.html %}

        <div class="clearfix"></div>

        <header class="grey darken-3 grey-text text-lighten-4 z-depth-1">
            <h1 class="center-align">
                <i class="fa fa-book"></i> &nbsp;
                آخرین مطالب وبلاگ
            </h1>
        </header>

        <div class="clearfix"></div>        

        <div class="row">

            {% for post in paginator.posts %}
            <article id="{{ post.title | escape }}" class="card">
                <div class="card-title">
                    <a href="{{ post.url }}" class="grey-text text-darken-3">{{ post.title }}</a>                    
                </div>
                <div class="card-content">

                    {% if post.thumbnail %}
                        <div class="row">
                            <div class="col l4">
                                <picture>
                                    <img src="{{ site.url }}/{{ post.thumbnail }}" alt="{{ post.title }}" class="img-fit">
                                </picture>
                            </div>
                            <div class="col l8">
                                <p>
                                    {{ post.excerpt }}
                                </p>
                            </div>
                        </div>
                        
                    {% else %}
                        <p>
                            {{ post.excerpt }}
                        </p>
                    {% endif %}

                    <div class="clearfix"></div>

                    <br><a href="{{ post.url }}" class="btn left grey darken-3 post-more-btn">ادامه مطلب</a>

                    <div class="clearfix"></div>
                    
                </div>
            </article>
            {% endfor %}

        </div>

        <div class="clearfix"></div>
        
        <div class="row">
            <div id="paginate-box" class="center-align">

                <!-- pagination -->
                {% if paginator.total_pages > 1 %}
                    <ul class="pagination">
                        {% if paginator.previous_page %}
                            <li class="waves-effect"><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"><i class="fa fa-chevron-right"></i></a></li>                            
                        {% else %}
                            <li class="disabled"><a href="#!"><i class="fa fa-chevron-right"></i></a></li>
                        {% endif %}

                        {% for page in (1..paginator.total_pages) %}
                            {% if page == paginator.page %}
                                <li class="active"><a href="#!">{{ page }}</a></li>
                            {% elsif page == 1 %}
                                <li class="waves-effect"><a href="{{ site.url }}/blog/">{{ page }}</a></li>
                            {% else %}
                                <li class="waves-effect"><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if paginator.next_page %}
                            <li class="waves-effect"><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"><i class="fa fa-chevron-left"></i></a></li>
                        {% else %}
                            <li class="disabled"><a href="#!"><i class="fa fa-chevron-left"></i></a></li>
                        {% endif %}
                    </ul>
                {% endif %}

            </div>
        </div>

        <div class="clearfix"></div>

    </div>
</section>

<div class="clearfix"></div>

{% include footer.html %}