---
layout: default
---
<section id="blog-index" class="under-navbar">
    <div class="container">

        {% include breadcrumbs.html %}

        <div class="clearfix"></div>

        <header class="grey darken-3 grey-text text-lighten-4 z-depth-1">
            <h1 class="center-align">
                <i class="fa fa-book"></i> &nbsp;
                آخرین مطالب وبلاگ
            </h1>
        </header>

        <div class="clearfix"></div>        

        <div class="row">

            {% for post in site.posts %}
            <article id="{{ post.title | escape }}" class="card">
                <div class="card-title">
                    <a href="{{ post.url }}" class="grey-text text-darken-3">{{ post.title }}</a>                    
                </div>
                <div class="card-content">

                    {% if post.thumbnail %}
                        <div class="row">
                            <div class="col l4">
                                <picture>
                                    <img src="{{ site.url }}/{{ post.thumbnail }}" alt="{{ post.title }}" class="img-fit">
                                </picture>
                            </div>
                            <div class="col l8">
                                <p>
                                    {{ post.excerpt }}
                                </p>
                            </div>
                        </div>
                        
                    {% else %}
                        <p>
                            {{ post.excerpt }}
                        </p>
                    {% endif %}

                    <div class="clearfix"></div>

                    <br><a href="{{ post.url }}" class="btn left grey darken-3 post-more-btn">ادامه مطلب</a>

                    <div class="clearfix"></div>
                    
                </div>
            </article>
            {% endfor %}

        </div>

    </div>
</section>




<div class="clearfix"></div>

{% include footer.html %}