---
layout: default
---
<section class="under-navbar">
  <div class="container">
    <div class="row">

      {% include breadcrumbs.html %}

      <div class="s12">
      <article id="{{ page.title | escape }}" class="card post" itemscope itemtype="http://schema.org/BlogPosting">

        <header class="">
          <h1 class="" itemprop="name headline">{{ page.title | escape }}</h1>
          <p class="post-meta">
            <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
              <i class="fa fa-calendar"></i> &nbsp;
              {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
              {{ page.date | date: date_format }}
            </time><br>

            {%- if page.author -%}
              <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name"><i class="fa fa-pencil"></i> &nbsp; {{ page.author }}</span></span>
            {% else %}
            <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name"><i class="fa fa-pencil"></i> &nbsp; {{ site.blog_author }}</span></span>
            {%- endif -%}<br>

            <reading-time>
              <i class="fa fa-clock-o"></i> &nbsp; زمان مطالعه : 
              <span class="red-text text-darken-3">
                {% include reading-time.html %}
              </span>
            </reading-time>

          </p>
        </header>

        <div itemprop="articleBody">
          {% if page.thumbnail %}
            <picture>
                <img src="{{ site.url }}/{{ page.thumbnail }}" alt="{{ page.title }}" class="img-fit">
            </picture>
          {% endif %}
          {{ content }}
        </div>

        <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>

      </article>
      </div>
    </div>
  </div>
</section>

<div class="clearfix"></div>

{% include footer.html %}
